body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.canvas {
  color: #000;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.title {
  font-family: 'overwatch', sans-serif;;
}

#footer {
  position: absolute;
  bottom: 0;
}

#campaignPage {
  background: red;
  color: #fff;
  
}
