extends layout

block content
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css")
  link(rel="stylesheet", href="/vendor/jquery.timepicker.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
  script(src='/vendor/jquery.timepicker.min.js')
  script(src="/vendor/moment.min.js")
  script(src="/vendor/countdown.min.js")
  script(src="/vendor/moment-countdown.min.js")

  script(src="/javascripts/dashboard/timer.js")
  script(src="/javascripts/dashboard/ticker.js")

  script.
    $(document).ready(function(){

      $('form').submit(function(){
        console.log('form submitted');
      });

    });

  div.container
    h1= title
    form(action="/dashboard", method="post")

      div.panel.panel-default
        div.panel-heading Ticker Items
        div.panel-body
          div.row
            ul
              li
                div.input-group
                  input(type="text", class="form-control ticker-itemInput", placeholder="", name="tickerItem", value="")
                  span.input-group-btn
                    button(class="btn btn-danger", type="button")
                      span(class="glyphicon glyphicon-remove")
              li
                div.input-group
                  input(type="text", class="form-control ticker-itemInput", placeholder="", name="tickerItem", value="")
                  span.input-group-btn
                    button(class="btn btn-danger", type="button")
                      span(class="glyphicon glyphicon-remove")
          div.row
            div.input-group
              button(class="btn btn-default", id="ticker-add", type="button") Add Item
              button(class="btn btn-default", id="ticker-save", type="button") Save

      button(type='submit', class="btn btn-default", id="save-currentgame")
        span Save
