extends layout

block content
  script(src="/vendor/moment.min.js")
  script(src="/vendor/countdown.min.js")
  script(src="/vendor/moment-countdown.min.js")
  script(src="/javascripts/index/timer.js")
  script.
    socket.on('currentGame', function (data) {
      $('div#currentGame span').text(data);
    });
    socket.on('nextGame', function (data) {
      $('div#nextGame span').text(data);
    });


  div.canvas
    div#currentGame current game is:
      span

    div#nextGame next game is:
      span

    div#timer time remaining
      span.hours
      span.minutes
