<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  </head>
  <body>
    <div class="ui main text container">
      <div class="ui container">
        <form id="form-update" class="ui form" method="POST" action="/update">
          <h4 class="ui dividing header">Game Info</h4>
          <div class="field">
            <label>Current Game</label>
            <input type="text" name="currentGame" autocomplete="off" placeholder="Game">
          </div>
          <div class="field">
            <label>Next Game</label>
            <input type="text" name="nextGame" autocomplete="off" placeholder="Game">
          </div>

          <h4 class="ui dividing header">Ticker Items</h4>
          <div class="field">
            <textarea name="tickerItems" autocomplete="off"></textarea>
          </div>

          <h4 class="ui dividing header">Debug Flags</h4>
          <div class="field">
              <label>Enabled Flags</label>
              <select multiple="" class="ui dropdown" name="debug">
                <option value="">Please select</option>
                <option value="styling">Styling</option>
                <option value="connection">Connection</option>
              </select>
            </div>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>

        <div>
          <textarea id="form-values" style="width: 100%;height: 200px;"></textarea>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script>
      jQuery(document).ready(function(){
        const form = $('#form-update');
        
        $('.ui.dropdown').dropdown();

        function submitData(endpoint, data) {
          fetch(endpoint, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: data
          })
        }

        form.on('submit',function(e) {
          e.preventDefault()
          const formData = JSON.stringify(form.serializeArray());

          $('#form-values').text(formData)

          submitData(e.target.action, formData);          
        })
      });    
    </script>
  </body>
</html>
