<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
  </head>
  <body>
    <div class="ui main text container">
      <div class="ui container">
        <form class="ui form" method="POST" action="/update">
          <h4 class="ui dividing header">Game Info</h4>
          <div class="field">
            <label>Current Game</label>
            <input type="text" name="currentGame" autocomplete="off" placeholder="Game">
          </div>
          <div class="field">
            <label>Next Game</label>
            <input type="text" name="nextGame" autocomplete="off" placeholder="Game">
          </div>

          <h4 class="ui dividing header">Ticker Items</h4>
          <div id="app-tickerfields">
            <ticker-fields v-for="(row, index) in rows"
                    :row="row"
                    :key="index"           
                    v-on:remove="removeRow(index)">
            </ticker-fields>
            <div>
              <button v-on:click="addRow" type="button"> Add Item </button>
            </div>
          </div>

          <h4 class="ui dividing header">Debug Flags</h4>
          <div class="field">
              <label>Enabled Flags</label>
              <select multiple="" class="ui dropdown" name="debug">
                <option value="">Please select</option>
                <option value="styling">Styling</option>
                <option value="connection">Connection</option>
              </select>
            </div>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <template id="ticker-item-template">
      <div style="display: flex;">
          <input type="text" placeholder="Text" v-model="row.text">
          <button v-on:click="remove"type="button"> X </button>
      </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script>
      jQuery(document).ready(function(){
        $('.ui.dropdown').dropdown();
      });

      Vue.component('ticker-fields', {
          props: ['itemdata', 'row'],
          template: '#ticker-item-template',
          methods: {
            remove() {
                this.$emit('remove');
            }
          }
      })

      new Vue({
          el: "#app-tickerfields",
          data: {
              rows: [],
          },

          methods: {
              addRow(){
                this.rows.push({text: ''}); // what to push unto the rows array?
              },
              removeRow(index){
                this.rows.splice(index,1); // why is this removing only the last row?
              }
          }
      })      
    </script>
  </body>
</html>
